<style>
    .menu-navba{
        display: flex;
        justify-content: center;
    }
    .menu-navba a{
        margin: 20px;
    }
</style>
<div class="menu-navba">
    <a href="/" >Home</a>
    <a href="/about" >About</a>
    <a href="/contact" >Contact</a>
</div>